.bs-wizard {
    float: left;
    margin: 0 auto;
    width: 100%;
}

.bs-wizard > .bs-wizard-step {
    cursor: pointer;
    padding: 0;
    position: relative;
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 44%;
    width: 50%;
}

.bs-wizard > .bs-wizard-step > .progress {
    left: -43%;
    position: relative;
    border-radius: 0px;
    height: 5px;
    box-shadow: none;
    margin: 42px 0 15px 0;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    box-shadow: none;
    background: rgba(15, 131, 230, 0.17);
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: transparent;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background: #06a2dd;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #333;
    font-size: 14px;
    display: block;
    font-weight: normal;
}

.bg_active {
    background: #06a2dd !important;
}

.bg_disable {
    background: rgba(15, 131, 230, 0.17) !important;
}

.bs-wizard .bs-wizard-step input[type="checkbox"] {
    visibility: hidden;
}

#package_flexible .textbox, #package_flexible .dropdownlist {
    width: 100%;
}

#package_flexible .package_note {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .bs-wizard > .bs-wizard-step:first-child > .bs-wizard-dot {
        top: 44px;
        left: 10px;
    }

    .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
        left: 25px;
        z-index: 1;
    }

    .bs-wizard > .bs-wizard-step:first-child > .progress {
        left: 32%;
        width: 40px;
    }

    .bs-wizard > .bs-wizard-step > .progress {
        left: -36px;
        width: 55px;
        z-index: 0;
    }

    .bs-wizard > .bs-wizard-step .bs-wizard-info {
        left: -3px;
        position: relative;
    }
}

@media only screen and (max-width: 320px) {
    .bs-wizard > .bs-wizard-step {
        padding: 0 !important;
    }

    .bs-wizard > .bs-wizard-step > .progress {
        width: 47px;
    }

    .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
        left: 53px;
    }
}